[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
vkbottle = "*"
aiogram = "*"
vkbottle = "*"

[dev-packages]
pydocstyle = "*"
flake8 = "*"
sphinx = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
